body{
background:#D0D0D0;
}
canvas {
	border:#909090 1px solid;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.start_img {
	position : absolute;
	top:470px;
	left:560px;
}
.menu1_img {
	position : absolute;
	top:490px;
	left:580px;/*350*/
	display:none;
}
.menu2_img {
	position : absolute;
	top:290px;
	left:580px;/*350*/
	display:none;
}
.menu3_img {
	position : absolute;
	top:90px;
	left:580px;/*350*/
	display:none;
}
.back_img {
	position : absolute;
	top:30px;
	left:1120px;/*350*/
	display:none;
}
.file_add_img {
	position : absolute;
	top:550px;
	left:1070px;/*350*/
	display:none;
}
.file_delete_img {
	position : absolute;
	top:550px;
	left:930px;/*350*/
	display:none;
}
#file_name_input{
	position : absolute;
	display:none;
	background: transparent;
	font-size : 18px;
}
/*.table_t{
	position:absolute;
}*/
.word_temp {
	position:absolute;
	top:300px;
	left:800px;
	display:none;
	color: #606060;
	border: solid 1px #b7b7b7;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	outline: none;
	cursor: pointer;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.word_temp:hover {	
	position:absolute;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	
	text-decoration: none;
}
.word_temp:active {	
	position:absolute;
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	
}
